@import "tailwindcss";

body {
  font-family: var(--font-poppins);
  background-image: linear-gradient(
    to bottom,
    #162f53,
    #1f4066,
    #295378,
    #34668b,
    #3f799d
  );
  background-repeat: no-repeat;
  height: 100%;
}
